.redandblue {
	background-color: #FF0000;
	color: #0000FF;
}
.greenbig {
	font-size: large;
	color: #008080;
	font-weight: normal;
}
.yellowback {
	background-color: #FFFF99;
}
.blueandbig {
	font-family: NSimSun;
	font-size: xx-large;
	color: #0000FF;
}
.redandblue {
	background-color: #FF0000;
	color: #0000FF;
}
.greenbig {
	font-size: large;
	color: #008080;
	font-weight: normal;
}
.yellowback {
	background-color: #FFFF99;
}
.blueandbig {
	font-family: NSimSun;
	font-size: xx-large;
	color: #0000FF;
}
